.card-container {
    background-color: #212529;
    box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    border-width: 2px;
    max-width: 300px;
    height: 615px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.buttons-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.delete-button {
    color: #adb5bd;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 45px;
}
.fav-button {
    color: #adb5bd;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 42px;
}



.info-container {
    border-bottom: solid #6c757d 1px;
    height: auto;
    padding: 3px;
    padding-left: 7px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.info-container p {
    color: #212529;
    background-color: #adb5bd;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
    text-align: left;
    font-weight: 600;
    margin: 0;
    width: 22%;
    padding-left: 7px;
    padding-right: 4px;
    border-radius: 15px;
    margin-bottom: 5px;
    
}
.info-container h2 {
    color: #212529;
    background-color: #adb5bd;    
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    padding: 0px;
    padding-left: 7px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 18px;
    text-align: left;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: scroll;
    white-space: nowrap;
}



.image-container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto
}
.image-container img {
    border-radius: 15px;
    max-height: 100%;
    min-height: 100%;
}
 
