.search-form{
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid #adb5bd;
    border-right: solid #adb5bd;
    border-width: 1px;
}
.search-form input {
    border: solid black 1px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
    height: 50%;
    width: 70%;
    border-radius: 15px;
    padding-left: 10px;
}
.search-form .search-button {
    background-color: #adb5bd;
    border-radius: 20px;
    height: 25px;
    padding: 4px;
    position: relative;
    left: 40px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
}
.search-button:hover {
    outline: solid #4d5053 5px;
    cursor: pointer;
}
.search-button:active{
    background-color: #878c90;
}
